body {
    background-color: #fff8ee;
    color: hsl(0, 0%, 10%);
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;
    
}

main {
  width:60%;
  margin:auto;
}

.linkit {
  text-align: center;
  align-items: center;
}

.linkit a {
  margin: 50px;
}

.linkit img {
  width: 50px; /* Adjust the icon size as needed */
  height: auto;
}

.topnav{
  display: flex;
  justify-content: center;
  align-content:center;
  margin: 10px 10px;
}
.topnav a {
    color: #000000;
    padding: 10px 50px 10px 50px;
    text-decoration:none;
    font-size: 17px;
}

.topnav a:hover {
    text-decoration-line: underline;
  }
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ffffff;
  color: white;
}
.topnav img {
  width: 110px;
  height:auto;
  padding: 0px 0px;
}
@media screen and (max-width: 768px) {
  .topnav {
      flex: row;
  }

  .topnav a {
      flex: 1 1 45%; /* Distribute the available width, adjust as needed */
      margin: 10px; /* Add some space between links */
      padding: 5px;
  }
  .header {
    flex-direction: column;
    gap: 0px 0;
    text-align: center;
    align-items:center;
  }

  .header h2 {
    text-align: center;
  }
  .header p {
    flex-direction: column;
  }

  .header-center {
    padding: 0.5rem 1rem; /* Adjust padding for smaller screens */
  }
}


p {
  color: rgb(0, 0, 0);
  font-size: 100%;
    
}
h1 {
  color: #0c7663;
  text-align: left;
  font-size: 6.5vw;
  font-weight: 800; 
  margin: 10px 10px 0px 50px; /* top, right, bottom, left */ 
}
  
h2 {
  color: rgb(0, 0, 0);
  font-size: 400%;
}

h3 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 200%;
  padding-bottom: 0;
}
h4 {
  color: rgb(0, 0, 0);
  font-size: 200%;
  padding-bottom: 0;
  margin: 0;
}

  .indextext {
    text-align: left;
    padding: 0px 0px 0px 50px;
    font-size: 1.0625em;
    text-align: left;
  }
  
  .indextext p {
    color: #c47a0c;
    
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:0px 0px;
    padding: 0.5rem 3.2rem;
    margin: auto;
    background: #0c7663;
    color: #ffeabb 
    
  }
  .header h2 {
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 0.5rem 3.2rem;
    
  }

  .header-center {
    background: #0c7663; /* green background */
    padding: 0.5rem 3.2rem;
    color: rgb(0, 0, 0); /* white text color */
  }
  .header-center h2 {
    
    text-align: center;
    background: #0c7663; /* green background */
  }
  
.flex-container {
  display:flex;
  justify-content: center;
  align-items: flex-start;
  margin:auto;
}

.text-section {
  flex: 1;
  padding: 10px;
  width: 50%; 
}

.map {
  display: flex;
  align-items: center;
  justify-content: center;
}
 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #faa530;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #e74f09;
}

/* Add a background color and some padding around the form */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #f4bd42;
  padding: 20px;
  width: 50%; /* Adjust the width as needed */
  margin:auto;
   
} 
form {
  display: flex;
  flex-direction: column;
  width: 100%; /* Make the form take the full width of the container */
}

.text-container {
  display: flex;
  flex-direction:column;
  align-items: center;
  align-content: center ;
  justify-content: center;
  font-size: 120%;
 
}
.timetable {
  display: flex;
  flex-direction:column;
  align-items: center;
  align-content: center ;
  justify-content: center;
  font-size: 120%;
}
.topnav, h1, .date-image, .indextext {
  position: relative;
  z-index: 2; /* Set a higher z-index than the image */
}
.date-image {
  margin: 0px 0px 0px 50px; 
  height: auto;
  width: 30%;
}
.date-image img {
  max-width: 100%;
  height: auto;
  pointer-events: none;
}
.bottom-image {
  position:fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.bottom-image img {
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

  
.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
  margin:auto;
  }
